<header
  class="navbar navbar-dark sticky-top bg-custom4 flex-md-nowrap p-3 shadow d-flex justify-content-between"
  th:fragment="${header}"
>
<button
class="navbar-toggler position-relative d-md-none collapsed"
type="button"
data-bs-toggle="collapse"
data-bs-target="#sidebarMenu"
aria-controls="sidebarMenu"
aria-expanded="false"
aria-label="Toggle navigation"
>
<span class="navbar-toggler-icon bg-custom2"></span>
</button>
<a
  class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-custom6 text-align-start"
  th:href="@{/dashboard}"
  >
    <img alt="logo" src="https://storage.googleapis.com/spring-app-tch/logo.png" height="80px">
  </a
  >
 <div class="text-end d-flex mr-5">
<div class="navbar-nav">
  <div class="nav-item text-nowrap">
    <a class="nav-link px-3 link-custom6" th:href="@{/logout}">Logout</a>
  </div>
</div>
<div class="navbar-nav">
  <div class="nav-item text-nowrap">
    <a class="nav-link px-3 link-custom6" th:href="@{/perfil}">Perfil</a>
  </div>
</div>
</div>
</header>
