<!doctype html>
<html lang="es"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>Pedidos</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="css/custom.css" />

</head>

<body>
    <div th:replace="@{fragments/header.html} :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <nav th:replace="@{fragments/menu.html} :: nav"></nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand"><div class=""></div></div>
            <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
          </div>
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Pedidos</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Share
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Export
                </button>
              </div>
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary dropdown-toggle"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-calendar"
                  aria-hidden="true"
                >
                  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="16" y1="2" x2="16" y2="6"></line>
                  <line x1="8" y1="2" x2="8" y2="6"></line>
                  <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                This week
              </button>
            </div>
          </div>
          <div class="row">
            <div th:each="ped : ${pedidos}" class="col-xl-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                      />
                      <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${ped.usuario.nombre}"></p>
                        <p class="text-muted mb-0" th:text="${ped.usuario.email}"></p>
                      </div>
                    </div>
                    <span
                    th:classappend="${ped.estado==T(curso.java.tienda.tiendamanuelhernandezgomez.domain.Pedido.StatusType).PC} ? 'badge rounded-pill bg-warning' : ''"
                    class="badge rounded-pill bg-custom3" 
                    th:text="${ped.estado}"></span>
                  </div>
                </div>
                <div
                  class="card-footer border-0 bg-light p-2 col-12"
                >
                <div class="accordion accordion-flush mt-3" id="accordionExample">
                    <div class="accordion-item">
                        <div class="card mb-3">
                            <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <button class="accordion-button" data-bs-toggle="collapse"
                                        aria-expanded="false"
                                        th:attr="aria-controls=${ped.id},data-bs-target=${'#' + ped.id}"
                                        type="button"
                                        >
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr>
                                                    <td>Detalles</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </button>
                                </h5>
                            </div>
        
                            <div th:attr="id=${ped.id}" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="card-body">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Total</th>
                                                </tr>
                                                
                                                <tr th:each="linea : ${ped.detalles}">
                                                    <td th:text="${linea.producto.nombre}"></td>
                                                    <td th:text="${linea.unidades}"></td>
                                                    <td th:text="${linea.total}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                    <button class="btn btn-custom3 col-4 m-3" role="button" th:if="${ped.estado==T(curso.java.tienda.tiendamanuelhernandezgomez.domain.Pedido.StatusType).PC}" data-bs-toggle="modal" th:attr="data-bs-target=${'#cancelar' + ped.id}">Tramitar cancelacion</button>
                    <div class="modal fade" th:attr="id=${'cancelar'+ ped.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Cancelacion</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Seguro que quieres cancelar el pedido?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              <a th:href="@{/pedidos/cancel/}+${ped.id}"><button type="button" class="btn btn-custom1" >Cancelar pedido</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-custom2 col-4 m-3" role="button" th:if="${ped.estado==T(curso.java.tienda.tiendamanuelhernandezgomez.domain.Pedido.StatusType).PE}" data-bs-toggle="modal" th:attr="data-bs-target=${'#tramitar' + ped.id}">Tramitar Envio</button>
                      <div class="modal fade" th:attr="id=${'tramitar'+ ped.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Envío</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Seguro que quieres tramitar el pedido?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              <a th:href="@{/pedidos/tramitar/}+${ped.id}"><button type="button" class="btn btn-custom1" >Tramitar pedido</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            
            </div>
          </div>
        </main>
      </div>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

</html>